footer {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding-block: 24px;
}

footer span {
  color: var(--text-color-secondary);
  cursor: pointer;
  font: 14px/150% var(--font-family);
}

footer span:nth-child(1) {
  margin-right: auto;
}
