* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #FFFFFF;
  --brand-color: #EF5F4C;
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;
  --surface-color: #F5F5F5;
  --shape-transparency: #FFFFFF8F;
  --skeleton-color: #D9D9D9;

  --font-family: 'Poppins', sans-serif;

  --text: 16px/150% var(--font-family);
  --text-md: 14px/170% var(--font-family);
  --text-sm: 12px/170% var(--font-family);
  --text-lg: bold 32px/132% var(--font-family);
}

body {
  font: var(--text);
  background-color: var(--background-color);
  color: var(--text-color-secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

.bg-surface-color {
  background-color: var(--surface-color);
}

.container {
  margin-inline: auto;
  max-width: 1280px;
  padding-inline: 32px;
}
