* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #FFFFFF;
  --brand-color: #EF5F4C;
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;
  --surface-color: #F5F5F5;
  --shape-transparency: #FFFFFF8F;
  --skeleton-color: #D9D9D9;
}

body {
  background-color: var(--background-color);
  color: var(--text-color-secondary);
}
